<html>
    <head>
        <title>$i18n.getText("jrgisync.admin.label")</title>
        <meta name="decorator" content="atl.admin">
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")

    </head>
    <body>        
        <form id="admin" class="aui">
            <div class="field-group">
                <label for="name">$i18n.getText("jrgisync.admin.preSharedSecret.label")</label>
                <input type="text" id="name" name="name" class="text"/>
            </div>
            <div class="field-group">
                <aui-label for="project">$i18n.getText("jrgisync.admin.projectKey.label")</aui-label>
                <p>
                    <aui-select
                        id="project"
                        name="project"
                        placeholder=""
                    >
                    #foreach( $project in $context.projects)
                        <aui-option>$project.key</aui-option>
                    #end
                    </aui-select>
                </p>
            </div>
            <div class="field-group">
                <aui-label for="project">$i18n.getText("jrgisync.admin.defaultUser.label")</aui-label>
                <p>
                    <aui-select
                        id="user"
                        name="user"
                        placeholder=""
                    >
                    #foreach($user in $context.users)
                        <aui-option>$user.key</aui-option>
                    #end
                    </aui-select>
                </p>
            </div>
            <div class="field-group">
                <input type="submit" value="$i18n.getText("jrgisync.admin.save.label")" class="button"/>
            </div>
        </form>
    </body>
</html>
