<html>
    <head>
        <title>$i18n.getText("jrgisync.admin.label")</title>
        <meta name="decorator" content="atl.admin">
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")

    </head>
    <body>
        <form id="admin" class="aui">
            <div class="field-group">
                <label for="name">$i18n.getText("jrgisync.admin.name.label")</label>
                <input type="text" id="name" name="name" class="text"/>
            </div>
            <div class="field-group">
                <label for="time">$i18n.getText("jrgisync.admin.time.label")</label>
                <input type="text" id="time" name="time" class="text"/>
            </div>
            <div class="field-group">
                <aui-label for="project">Select the default project:</aui-label>
                <p>
                    <aui-select
                        id="project"
                        name="project"
                        placeholder="Select the project"
                    >
                        <aui-option>TP</aui-option>
                        <aui-option>Other</aui-option>
                    </aui-select>
                </p>
            </div>
            <div class="field-group">
                <input type="submit" value="$i18n.getText("jrgisync.admin.save.label")" class="button"/>
            </div>
        </form>
    </body>
</html>
