<html>
    <head>
        <title>$i18n.getText("jrgisync.admin.label")</title>
        <meta name="decorator" content="atl.admin">
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
        $webResourceManager.requireResource("com.mackersD.jrgisync.jrgisync:jrgisync-resources")
    </head>
    <body>        
        <form id="admin" class="aui">
            <div class="field-group">
                <label for="preSharedSecret">$i18n.getText("jrgisync.admin.preSharedSecret.label")</label>
                <input type="text" id="preSharedSecret" name="preSharedSecret" class="text"/>
            </div>
            <div class="field-group">
                <aui-label for="defaultProject">$i18n.getText("jrgisync.admin.defaultProject.label")</aui-label>
                <p>
                    <aui-select
                        id="defaultProject"
                        name="defaultProject"
                        placeholder=""
                    >
                    #foreach( $project in $context.projects)
                        <aui-option>$project.key</aui-option>
                    #end
                    </aui-select>
                </p>
            </div>
            <div class="field-group">
                <aui-label for="defaultUser">$i18n.getText("jrgisync.admin.defaultUser.label")</aui-label>
                <p>
                    <aui-select
                        id="defaultUser"
                        name="defaultUser"
                        placeholder=""
                    >
                    #foreach($user in $context.users)
                        <aui-option>$user.key</aui-option>
                    #end
                    </aui-select>
                </p>
            </div>
            <div class="field-group">
                <input type="submit" value="$i18n.getText("jrgisync.admin.save.label")" class="button"/>
            </div>
        </form>
    </body>
</html>
